.wd-course-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 120px;
  margin: 0px;
  margin-left: 20px;
  border: none;
}

.wd-course-navigation a {
  text-decoration: none;
  color: red;
  display: block;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: none;
}

.wd-course-navigation a:hover {
  background-color: white;
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}


.wd-course-navigation a.active {
  background-color: white;
  color: black;
  border-left: 2px solid black;
}

