body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    display: flex;
    flex-direction: row;
    height: 100vh;

    /*border-spacing: 0;*/
}
table {
    height: 100%;
    display: flex;
    flex-direction: row;
}


.kanbas-nav {
    background-color: black;
    width: 85px;
    min-height: 100vh;
    flex-grow: 1;
    padding: 0px;
    font-size: 0.8em;
    position: fixed;
    height: 100%;

}

.kanbas-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.kanbas-nav li {
    padding: 0px 0;
    text-align: center;
}

.kanbas-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s, color 0.3s;
}

.kanbas-nav a i {
    display: block;
    margin-bottom: 5px;
}

.kanbas-nav a span {
    display: none;
}

.kanbas-nav a.active {
    background-color: white;
    color: red;
}

.kanbas-nav a:hover i, .kanbas-nav a.active i {
    color: red;
}
